<section class="mb-3">
  <div class="container bg-dark p-4">
    <h3 class="text-black roboto-bold mb-4">Visitor Information</h3>
    <form action="" [formGroup]="visitorForm" (ngSubmit)="onSubmitForm()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="idNumber">ID Number:</label>
          <input type="number" id="idNumber" class="form-control" formControlName="idNumber" >
        </div>
        <div class="form-group col-md-6">
          <label for="date">Date:</label>
          <input type="date" id="date" class="form-control" formControlName="date">
          <div class="error text-danger" *ngIf="registerFormControl['date'].invalid && (registerFormControl['date'].dirty || registerFormControl['date'].touched)">
            <small *ngIf="registerFormControl['date'].errors?.['required']">Please select date</small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="vName">Visitor Name:</label>
          <input type="text" id="vName" class="form-control" formControlName="vName">
          <div class="error text-danger" *ngIf="registerFormControl['vName'].invalid && (registerFormControl['vName'].dirty || registerFormControl['vName'].touched)">
            <small *ngIf="registerFormControl['vName'].errors?.['required']">Visitor name is requried</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="vNumber">Visitor Number:</label>
          <input type="text" id="vNumber" class="form-control" formControlName="vNumber">
          <div class="error text-danger" *ngIf="registerFormControl['vNumber'].invalid && (registerFormControl['vNumber'].dirty || registerFormControl['vNumber'].touched)">
            <small *ngIf="registerFormControl['vNumber'].errors?.['required']">Contact number is requried</small>
            <small *ngIf="registerFormControl['vNumber'].errors?.['pattern'] || registerFormControl['vNumber'].errors?.['min']">Contact Number is invalid</small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="vCompanyName">Visitor Company Name:</label>
          <input type="text" id="vCompanyName" class="form-control" formControlName="vCompanyName">
          <div class="error text-danger" *ngIf="registerFormControl['vCompanyName'].invalid && (registerFormControl['vCompanyName'].dirty || registerFormControl['vCompanyName'].touched)">
            <small *ngIf="registerFormControl['vCompanyName'].errors?.['required']">Visitor company name is required</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="whoomToMeet">Whoom to meet:</label>
          <input type="tet" id="whoomToMeet" class="form-control" formControlName="whoomToMeet">
          <div class="error text-danger" *ngIf="registerFormControl['whoomToMeet'].invalid && (registerFormControl['whoomToMeet'].dirty || registerFormControl['whoomToMeet'].touched)">
            <small *ngIf="registerFormControl['whoomToMeet'].errors?.['required']">Whoom to meet required</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="purpose">Purpose: </label>
        <textarea class="form-control" id="purpose" rows="4" formControlName="purpose"></textarea>
        <div class="error text-danger" *ngIf="registerFormControl['purpose'].invalid && (registerFormControl['purpose'].dirty || registerFormControl['purpose'].touched)">
          <small *ngIf="registerFormControl['purpose'].errors?.['required']">What purpose to meet is required</small>
        </div>
      </div>
      <button class="btn btn-primary d-block ml-auto" [disabled]="!visitorForm.valid">Submit</button>
    </form>
  </div>
</section>

<app-visitor-entry-table [visitorsEntries]="visitorFormSubmittedData"></app-visitor-entry-table>
